@model SkillInventory.Models.ChartsViewModel;

@{
    ViewData["Title"] = "Employee";
}

<h1>Dashboard</h1>

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h2 class="card-title">Skills</h2>


                            <h2 class="card-title"></h2>
                               <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-lines-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End Reports -->


<div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pie Chart</h5>

                <!-- Pie Chart -->
                <div id="pieChart"></div>
                <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#pieChart"), {
                                series: [@foreach (var item in @Model.Employee)
                                        {
                                            @item
                                        }],
                                chart: {
                                    height: 350,
                                    type: 'pie',
                                    toolbar: {
                                        show: true
                                    }
                                },
                                labels: [@foreach (var item in @Model.SkillNames)
                        {
                            @:'@item',
                        }],
                        }).render();
                        });
                </script>
                <!-- End Pie Chart -->

            </div>
        </div>
    </div>  
 @*
         <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pie Chart</h5>

                    <!-- Pie Chart -->
                    <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {

                            echarts.init(document.querySelector("#pieChart")).setOption({
                                title: {
                                    text: 'Referer of a Website',
                                    subtext: 'Fake Data',
                                    left: 'center'
                                },
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    orient: 'vertical',
                                    left: 'left'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: '50%',
                                    data: @foreach (var item in @Model.SkillNames)
                        {
                            @: '@item' ,
                        },
                                    emphasis: {
                                        itemStyle: {
                                            shadowBlur: 10,
                                            shadowOffsetX: 0,
                                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                                        }
                                    }
                                }]
                            });
                        });
                    </script>
                    <!-- End Pie Chart -->

                </div>
            </div>
        </div> 

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pie Chart</h5>

                    <!-- Pie Chart -->
                    <canvas id="pieChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            
                            new Chart(document.querySelector('#pieChart'), {
                                type: 'pie',
                                data: {
                                    [
                        @foreach (var item in @Model.SkillNames)
                        {
                            @: '@item' ,
                        }
                                 ],
                                datasets: [{
                                                label: 'My First Dataset',
                                                data: @Model.Employee,
                                                backgroundColor: [
                                                    'rgb(255, 99, 132)',
                                                    'rgb(54, 162, 235)',
                                                    'rgb(255, 205, 86)'
                                                ],
                                                hoverOffset: 4
                                            }]
                                        }
                                    });
                        });
                    </script>
                    <!-- End Pie CHart -->

                </div>
            </div>
        </div>
        *@
</section>

@section scripts{

    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts/dist/apexcharts.min.js"></script>


}